/* Configurable */
:root {
    --mainPadding: 10px;

    --topBarSize: 30px;
    --bottomBarGap: 10px;

    --topBarChildrenSize: 30px;

    /* Colors */
    --bodyColor: rgb(20, 20, 20);

    --textColor: white;
    
    --MainColor  : rgb(40, 40, 40);
    --HoverColor : rgb(30, 30, 30);
    --BorderColor: rgb(80, 80, 80);
}

.text {
    color: var(--textColor);
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.input {
    background-color: var(--MainColor);
    
    border-width: 1px;
    border-style: solid;
    border-color: var(--BorderColor);

    box-shadow: none;
}
.input:hover {
    background-color: var(--HoverColor);

    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 40deg);
}
/* MAIN */
body {    
    padding: var(--mainPadding);
    background-color: var(--bodyColor);

    background-attachment: fixed;
    outline: thick double rgb(30, 30, 30);
}

#container {
    height: 100%;
    width:  100%;

    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: start;
    gap: 10px;

}

/* TOPBAR */
#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: var(--topBarSize);
    width: 100%;
}

/* link input */
#linkinput {
    height: 25px;
    width: 350px;
}

/* button */
#confirmbutton {
    height: 25px;
}

/* label (not needed) */ 
/* #linklabel {} */ 

/* BOTTOMBAR */
#bottombar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    
    /* Window size - TopBarSize - Gap */
    height: calc(100% - 50px - 10px);
    width: 100%;
}

/* video */
#videocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 80%;
    
    border-style: solid;
    border-color: var(--BorderColor);
    border-width: 1px;
}

/* history */
#historycontainer {
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 10px;

    height: 100%;
    width: 150px;

    border-style: solid;
    border-color: var(--BorderColor);
    border-width: 1px;
}

#history-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    height: 20px;
    width: 100%
}

#history-deletebutton {
    height: 15px;
    width: 15px
}

#history-list {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    gap: 10px;

    overflow: auto;
}

#history-label {
    height: 20px;
    width: 100%;
    
    text-align: left;
}

#historybutton {
    aspect-ratio: 16/9;
    width: 110px;

    border: none;

    background-size: cover;
    object-fit: cover;    
}