/* Configurable */
:root {
    --mainPadding: 10px;
    --topBarSize: 30px;
    --bottomBarGap: 10px;
    
    --topBarChildrenSize: 25px;
    --sideFrameSize: 150px;

    /* Colors */
    color-scheme: light dark;
}

.LIGHT_THEME{    
    --BackgroundColor: rgb(255, 255, 255);
    --TextColor  : rgb(50, 50, 50);
    --MainColor  : rgb(230, 230, 230);
    --HoverColor : rgb(200, 200, 200);
    --BorderColor: rgb(180, 180, 180);

    --Bright: white;
    --Dark  : black;

    --ImageFilter: brightness(.4);
}

.DARK_THEME{    
    --BackgroundColor: rgb(50, 50, 50);
    --TextColor  : white;
    --MainColor  : rgb(70, 70, 70);
    --HoverColor : rgb(50, 50, 50);
    --BorderColor: rgb(90, 90, 90);

    --Bright: black;
    --Dark  : white;

    --ImageFilter: brightness(1);
}

.OLED_THEME{    
    --BackgroundColor: rgb(0, 0, 0);
    --TextColor  : rgb(230, 230, 230);
    --MainColor  : rgb(25, 25, 25);
    --HoverColor : rgb(0, 0, 0);
    --BorderColor: rgb(40, 40, 40);

    --Bright: black;
    --Dark  : white;

    --ImageFilter: brightness(.8);
}

.text {
    color: var(--TextColor);
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.input { /* (Interactable) */
    background-color: var(--MainColor);

    border-radius: 10px;

    border-width: 1px;
    border-style: solid;
    border-color: var(--BorderColor);

    box-shadow: none;
    
}
.input:hover {
    background-color: var(--HoverColor);
}

.clickable:hover {
    cursor: pointer;
}

.imagebutton {
    aspect-ratio: 1;
    height: 25px;

    border-radius: 50px;

    padding: 3px;
    box-sizing: border-box;

}

.image {
    filter: var(--ImageFilter);
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;

    outline-color: var(--BorderColor);
    outline-style: double;
    outline-width: 4px;

    padding: 20px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    align-self: center;
}

body {
    background-color: var(--BackgroundColor);

    background-attachment: fixed;
    
    /* fixes scroll/overflow for some reason?? */
    height: 100vh;
    min-height: 100vh;

    margin: 0;
    padding: var(--mainPadding);
    box-sizing: border-box;
}