@import url("/Shared/main.css");

/* ------------ */
/*     MAIN     */
/* ------------ */

#toplabel {
    margin-top: 10px;
}

#pageslist {
    height: 100%;
    width: 50%;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;

    overflow: auto;

    align-self: center;
}

.page {
    width: 100%;
    height: 50px;
    min-height: 50px;

    background-color: var(--BackgroundColor);
    
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    border-radius: 10px;
    border: 1px var(--BorderColor) solid;
}
.page:hover {
    background-color: var(--MainColor);
}

#pagelabel {
    width: 20%;
}

#pagedescription {
    font-size: small;
    color: gray;

    width: 80%;
}