@import url("../Shared/main.css");

/* ------------ */
/*     MAIN     */
/* ------------ */

/* TOPBAR */
#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: var(--topBarSize);
    width: 100%;
}

/* link */
#linkinput {
    height: var(--topBarChildrenSize);


    max-width: 350px;
    min-width: 100px;

    width: 100%;

    box-sizing: border-box;
}

#confirmbutton {
    height: var(--topBarChildrenSize);
    width: 80px;
}

#linkcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: 100%;
    width: calc(100% - var(--sideFrameSize));
}

/* search */
#searchcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: 100%;
    width: var(--sideFrameSize);
}

@media only screen and (max-width: 600px) {
    #searchcontainer {
        display: none;
    }
}

/* BOTTOMBAR */
#bottombar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Window size - TopBarSize - Gap */
    height: 100%;
    width: 100%;

}

/* video */
#videocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border-style: solid;
    border-color: var(--BorderColor);
    border-width: 1px;
}

/* history */
#historycontainer {
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 10px;

    height: 100%;
    width: var(--sideFrameSize);

    border-style: solid;
    border-color: var(--BorderColor);
    border-width: 1px;
}

#history-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    height: 20px;
    width: 100%;
}

#history-list {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    gap: 10px;

    overflow: auto;
}

#history-label {
    height: 20px;
    width: 100%;

    text-align: left;
}

#historybutton {
    aspect-ratio: 16/9;
    width: 110px;

    border: solid;
    border-width: 2px;

    /* Acts as if it was hidden */
    border-color: var(--BackgroundColor);

    background-size: cover;
    object-fit: cover;
}
#historybutton:hover {
    border-width: 2px;
    border-style: solid;
    border-color: var(--Dark);
}


/* ------------ */
/*     HELP     */ 
/* ------------ */

/* For help/index.html */

#helplist {
    height: 100%;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding: 10px;
    gap: 40px;

    overflow: scroll;
}

#helpimage {
    width: calc(100% - 10px);

    background-size: cover;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

#returncontainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    width: 100%;
}