/* Configurable */
:root {
    --mainPadding: 20px;

    --topBarSize: 30px;
    --bottomBarGap: 10px;
    
    --topBarChildrenSize: 27px;

    --sideFrameSize: 150px;

    /* Colors */
    --bodyColor: rgb(20, 20, 20);

    --textColor: white;

    --MainColor  : rgb(40, 40, 40);
    --HoverColor : rgb(20, 20, 20);
    --BorderColor: rgb(80, 80, 80);
}

.text {
    color: var(--textColor);
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.input {
    background-color: var(--MainColor);

    border-radius: 10px;

    border-width: 1px;
    border-style: solid;
    border-color: var(--BorderColor);

    box-shadow: none;
    
}

.input:hover {
    background-color: var(--HoverColor);
}

.imagebutton {
    aspect-ratio: 1;
    height: 25px;

    border-radius: 50px;

    padding: 3px;
    box-sizing: border-box;
}

/* ------------ */
/*     MAIN     */
/* ------------ */

/* MAIN */
body {
    padding: var(--mainPadding);

    background-color: var(--bodyColor);
    outline: thick double rgb(30, 30, 30);

    background-attachment: fixed;

    height: calc(100vh - 3*var(--mainPadding));
}

#container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    align-self: center;
}

/* TOPBAR */
#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: var(--topBarSize);
    width: 100%;
}

/* link */
#linkinput {
    height: var(--topBarChildrenSize);
    width: 350px;

    box-sizing: border-box;
}

#confirmbutton {
    height: var(--topBarChildrenSize);
    width: 80px;
}

#linkcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: 100%;
    width: calc(100% - var(--sideFrameSize));
}

/* search */
#searchcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--bottomBarGap);

    height: 100%;
    width: var(--sideFrameSize);
}

/* BOTTOMBAR */
#bottombar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Window size - TopBarSize - Gap */
    height: 100%;
    width: 100%;

}

/* video */
#videocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: calc(100% - var(--sideFrameSize));

    border-style: solid;
    border-color: var(--BorderColor);
    border-width: 1px;
}

/* history */
#historycontainer {
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 10px;

    height: 100%;
    width: var(--sideFrameSize);

    border-style: solid;
    border-color: var(--BorderColor);
    border-width: 1px;
}

#history-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    height: 20px;
    width: 100%;
}

#history-list {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    gap: 10px;

    overflow: auto;
}

#history-label {
    height: 20px;
    width: 100%;

    text-align: left;
}

#historybutton {
    aspect-ratio: 16/9;
    width: 110px;

    border: solid;
    border-width: 2px;

    /* Acts as if it was hidden */
    border-color: var(--bodyColor);

    background-size: cover;
    object-fit: cover;
}
#historybutton:hover {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}



/* ------------ */
/*     HELP     */ 
/* ------------ */

/* help/index.html */

#helpbutton {
    opacity: 0;
}
#helpbutton:hover {
    opacity: .2;
}

#helplist {
    height: 100%;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding: 10px;
    gap: 40px;

    overflow: scroll;
}

#helpimage {
    width: 100%;

    background-size: cover;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

#returncontainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    width: 100%;
}